/* Variables */

:root {
    --primary-color:#b49594; 
    --secondary-color: #6a687a;
}

/* CSS RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* generals */


body {
    background-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}


/* utils */

.text-danger {
    display: none;
    
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

/* Sezione Calcola il biglietto */

.ticket-container {
    background-color: white;
    width: 60%;
    height: 35vh;
    margin: 0 auto;
}

#price-ticket {
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* input group */

.input-group {
    
    padding-top: 1rem;
    margin: 0 auto;
    gap: 30px;
}

.input-container {
    flex-basis: 100%;
    margin-top: 5px;
}

.input-container label {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.input-container input, .input-container select {
    display: block;
    margin-top: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
}

.input-container select {
    height: 29px;
    padding-right: 40px;
}

.input-container input:focus-visible {
    outline: 0;
    border-color: var(--secondary-color);
}

.input-container select:focus-visible {
    outline: 0;
    border-color: var(--secondary-color);
}

.input-container p {
    font-size: .9rem;
}

/* button group */

.button-group {
    margin: 0 auto;
    padding-bottom: 1rem;

}

.button-group button {
    background-color: var(--secondary-color);
    font-size: 1.3rem;
    font-weight: bold;
    border: 0;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    
}

.button-group button:hover {
    background-color: var(--primary-color);
    outline: 2px solid var(--secondary-color);
}


/* Sezione il tuo Biglietto */


#train-ticket {
    padding: 1rem;
    height: 100%;
    margin-bottom: 3rem;
    box-shadow: 1px 1px 5px black;
}

#train-ticket h3{
    padding-bottom: .5rem;
}

.user-ticket {
    border-right: 2px solid var(--secondary-color);
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    height: 80%;
}

.user-info:first-child {
    flex-grow: 1;
    background-color: var(--secondary-color);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.1rem;
    text-align: center;
}

.user-info {
    flex-basis: 17%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
}

#price-container {
    display: flex;
}

#price-container span {
   padding-left: 10px;
   font-weight: bold;
   text-decoration: line-through;
}



/* media query */

@media screen and (min-width: 1150px) {

    /* Sezione Calcola il biglietto */
    .ticket-container {
        width: 50%;
        height: 30vh;
    }
    
    .input-group {
        display: flex;
        text-align: left;
        margin: 0 auto;
        justify-content: space-evenly;
    }
    .input-container {
        flex-basis: calc(100% / 3);
    }

    /* Sezione Il tuo Biglietto */

    #train-ticket{
        height: 30vh;
    }
    .user-ticket {
        display: flex;
        border-top: 2px solid var(--secondary-color);
        border-bottom: 2px solid var(--secondary-color);
        border-right: 0;
        border-left: 0;
        height: 80%;
        text-align: left;
    }
    

    .user-info:first-child {
        flex-basis: 32%;
        text-align: left;
        
    }
    
    .user-info {
        flex-basis: 17%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


}